@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  padding: 20px;
  background: linear-gradient(270deg, #000000, #ebf8e1, #666666);
  background-size: 600% 600%;
  animation: fadeInDown 1s, GradientAnimation 12s ease infinite;
  display: flex;
  justify-content: center;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#logo {
  font-size: 2em;
  font-weight: 700;
  transition: transform 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

main {
  text-align: center;
  padding: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(270deg, #000000, #ebf8e1, #666666);
  background-size: 600% 600%;
  animation: GradientAnimation 12s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav ul {
  list-style: none;
  padding: 20px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #888;
}

section h3 {
  margin-bottom: 10px;
  animation: fadeInUp 1s;
  font-size: 2em;
  font-weight: 700;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(270deg, #000000, #ebf8e1, #666666);
  background-size: 600% 600%;
  animation: GradientAnimation 12s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.social-icons img {
  width: 32px;
  height: 32px;
margin-left: 10px;
filter: invert(1);
transition: filter 0.3s, transform 0.3s;
cursor: pointer;
}

.social-icons img:hover {
filter: invert(0.5);
transform: scale(1.1);
}

.page-loader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(51, 51, 51, 0.9);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
transition: opacity 0.5s;
}

.page-loader.fade-out {
opacity: 0;
}

.spinner {
width: 40px;
height: 40px;
position: relative;
}

.double-bounce1,
.double-bounce2 {
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #fff;
opacity: 0.6;
position: absolute;
top: 0;
left: 0;
animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
animation-delay: -1s;
}

@keyframes sk-bounce {
0%, 100% {
transform: scale(0);
}
50% {
transform: scale(1);
}
}



/* Add this to your existing CSS */
.icon-fade-in {
  animation: fadeInUp 1s;
}

.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

.dark-mode header,
.dark-mode main,
.dark-mode footer {
  background: linear-gradient(270deg, #333, #555);
}




/* Add this to your existing CSS */
.mobile-nav-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  z-index: 1001;
  transition: background-color 0.3s;
}

.mobile-nav-button:hover {
  background-color: rgba(255, 255, 255, 1);
}
